<!DOCTYPE html>
<html lang="uz">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kategoriya Qo'shish</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'food' %}" class="nav-button">Ovqat Qo'shish</a></li>
            <li><a href="{% url 'ctg' %}" class="nav-button">Kategoriya Qo'shish</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Ovqat Qo'shish</h1>
        <h3 style="color: green;">{{ success }}</h3>
        <h3 style="color: red;">{{ error }}</h3>
        <form class="category-form" method="post" enctype="multipart/form-data">
            {% csrf_token %} <!-- method =>post bo'lganda 'csrf_token' maburiy bo'lishi shart! -->

            <div class="form-group">
                <label for="name">Ovqat Nomi:</label>
                <input type="text" id="name" name="nomi" placeholder="Ovqat nomini kiriting" required>
            </div>

            <div class="form-group">
                <label for="tarkib">Ovqat Tarkibi:</label>
                <textarea cols="3" rows="6" type="text" id="tarkib" name="tarkibi" required placeholder="Ovqat tarkibini kiriting"></textarea>
            </div>

            <div class="form-group">
                <label for="narx">Ovqat Narxi:</label>
                <input type="number" id="narx" name="narxi" maxlength="100" required placeholder="10000" >
            </div>

            <div class="form-group">
                <label for="rasm">Ovqat Rasmi:</label>
                <input type="file" id="rasm" maxlength="100" name="image" required>
            </div>

            <div class="form-group">
                <label for="kkal">Kaloriyasi(Kkalda):</label>
                <input type="number" id="kkal" name="kaloriya" required value="250">
            </div>

            <div class="form-group">
                <label for="type">Kategoriyasi:</label>
                <select id="type" name="ctg" required>
                    <option value="" disabled selected>Tanlang</option>
                    {% for i in ctgs %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}


<!--                    <option value="ichimlik">Salqin ichimliklar</option>-->
<!--                    <option value="kofe">Coffee</option>-->
<!--                    <option value="salat">Salatlar</option>-->
<!--                    <option value="desert">Shirinliklar</option>-->
<!--                    <option value="fast">Fast Food</option>-->
<!--                    <option value="other">Boshqa</option>-->
                </select>
            </div>
            <button class="submit-button" type="submit">Qo'shish</button>
        </form>
    </div>
</body>
</html>